.book-list{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.book-card{
    min-width: 80%;
    min-height: 100%;
    background-color: rgba(0, 255, 255, 0.493);
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.book-form{
    float:left;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width:20%;
}